<!DOCTYPE html>
<html>
    <head>
        <title>Todo App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>


        <h1>Signup</h1>

        <form action="signup" method="POST">
            <div class="form-group">
                <input type="text" class="form-control form" placeholder="Name" name="name" required>
                <input type="text" class="form-control form" placeholder="Username" name="username" required>
                <input type="password" class="form-control form" placeholder="Password" name="password" required>
                <input type="password" class="form-control form" placeholder="Retype Password" name="password2" required>
                <input type="submit" class="form-control form">
            </div>
        </form>
    </body>
</html>